@import '~node_modules/modern-normalize/modern-normalize.css';
@import './mixins';



// base style for body
body {
  font-family: DM Sans;
  font-style: normal;
  color: var(--main-text-clr);
  background-color: var(--background-clr);
  transition: background-color 100ms linear;
}

// is hidden style
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// no scroll
.no-scroll {
  overflow: hidden;
}
// body container
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  max-width: 375px;

  @include tablet {
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;

    min-width: 768px;
  }

  @include desktop {
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;

    min-width: 1440px;
  }
}
